*{
    box-sizing: content-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(ellipse at top, #ffde7d, transparent),
    radial-gradient(ellipse at bottom, #ccf6c8, transparent); */
    margin: 50px auto;
    border-radius: 30px;
    background-color: #f9f9f9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    font-size : 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 90%;
    min-height: 800px;
    min-width: 600px;
    border-radius: 30px;
    background-color: white;
}
.title{
    text-align: center;
    margin: 50px 0px;
    font-size: 40px;
}

.list{
    padding: 0px;
    flex-basis: 80%;
}
button{
    cursor: pointer;
    margin: 8px;
}

.reset{
    border: none;
}

.reset img{
    height: 50px;
    height: 50px;
}

.input img{
    width: 25px;
    height: 25px;
}
.menu img{
    height: 30px;
    width: 30px;
}
img{
    display: inline-block;
    overflow: hidden;
    object-fit: fill;
}

.item {
    text-align: center;
    display: block;
    margin : 20px 0;
}
.item--check {
    transform: scale(1.5);
    margin-right: 5px;
}
.item--title {
    font-size : 20px;
    margin : 0 10px;
    border: none;
}
.list--remove {
    visibility: hidden;
    border: none;
    background-color: white;
    font-size: 20px;
}
.item:hover > .list--remove{
    visibility: visible;
}
.item--title:focus ~ .list--remove{
    visibility: visible;
}

.input{
    display: flex;
    margin: 90px;
    /*justify-content: center;
    align-items: center; */
}
#input{
    width: 280px;
    height: 26px;
    border: 2px solid #1b1b1b;
    color: #1b1b1b;
    font: inherit;
    text-align: center;
    margin: 8px 0px;
    padding: 5px;
}
#button{
    background-color: #f9f9f9;
    width: 23px;
}